/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1e06f1d5;
    border-bottom: 1px solid #ddd;
}

.navbar .logo img {
    height: 40px;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links input[type="search"] {
    margin-left: 15px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

/* Dropdown Styles */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 15px;
}

.dropbtn {
    background-color: #ddd;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 150px;
}

.dropdown-content a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Slideshow Styles */
.slideshow {
    width: 100%;
    position: relative;
}

.slide-container {
    display: flex;
    overflow: hidden;
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 100%;
}

.dots-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

/* Products Section */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 35px;
    padding: 15px;
    width: 380px;
    text-align: center;
    margin: 10px;
}

.product-card img {
    width: 130px;
    height: 130px;
    
}

.quantity-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.quantity-controller button {
    padding: 5px 10px;
}

.quantity {
    padding: 0 15px;
}
